* @holyspectral @BinX-Suse
/*
/vendor/
/CODEOWNERS @holyspectral @BinX-Suse
/.github/ @neuvector/build
/build/ @neuvector/build
/controller/ @neuvector/controller
/controller/scan/ @neuvector/controller @neuvector/scanner
/db/ @neuvector/controller
/dp/ @neuvector/dp
/templates/ @neuvector/controller
/upgrader/ @neuvector/controller
/agent/ @neuvector/enforcer
/tools/ @neuvector/enforcer
/monitor/ @neuvector/enforcer @neuvector/controller
/scripts/ @neuvector/enforcer @neuvector/controller
/share/auth/ @neuvector/controller
/share/cluster/ @neuvector/enforcer @neuvector/controller
/share/container/ @neuvector/enforcer
/share/fsmon/ @neuvector/enforcer
/share/global/ @neuvector/enforcer @neuvector/controller
/share/healthz @neuvector/controller
/share/httpclient/ @neuvector/controller @neuvector/scanner
/share/httptrace/ @neuvector/controller @neuvector/scanner
/share/k8sutils/ @neuvector/controller
/share/licenseinfo/ @neuvector/controller
/share/migration/ @neuvector/controller
/share/orchestration/ @neuvector/controller
/share/osutil/ @neuvector/enforcer
/share/scan/ @neuvector/enforcer @neuvector/controller @neuvector/scanner
/share/utils/ @neuvector/enforcer @neuvector/controller @neuvector/scanner

