# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# vi temporary files
.*.swp

# dependency files
*.d

cscope.out
tags

# project specifics
/third-party/.objs/bin/
/third-party/.objs/share/
!/third-party/.objs/lib/**
!/third-party/.objs/include/**
/dp
/dp.pcap
!/objects/*/*.o
