#!/bin/sh

if [ -n "$nocolor" ] && [ "$nocolor" = "nocolor" ]; then
  bldred=''
  bldgrn=''
  bldblu=''
  bldylw=''
  txtrst=''
else
  bldred='\033[1;31m'
  bldgrn='\033[1;32m'
  bldblu='\033[1;34m'
  bldylw='\033[1;33m'
  txtrst='\033[0m'
fi

info () {
  printf "%b\n" "${bldblu}[INFO]${txtrst} $1"
}

pass () {
  printf "%b\n" "${bldgrn}[PASS]${txtrst} $1"
}

warn () {
  printf "%b\n" "${bldred}[WARN]${txtrst} $1"
}

yell () {
  printf "%b\n" "${bldylw}$1${txtrst}\n"
}

yell "# ------------------------------------------------------------------------------
# Kubernetes CIS benchmark
#
# NeuVector, Inc. (c) 2016-
#
# NeuVector delivers an application and network intelligent container security
# solution that automatically adapts to protect running containers. Don’t let
# security concerns slow down your CI/CD processes.
# ------------------------------------------------------------------------------"

BASE_IMAGE_BIN_PATH="<<<.Replace_baseImageBin_path>>>"
export PATH="$PATH:$BASE_IMAGE_BIN_PATH/usr/bin:$BASE_IMAGE_BIN_PATH/bin"
export LD_LIBRARY_PATH="$BASE_IMAGE_BIN_PATH/bin:$LD_LIBRARY_PATH"
CONFIG_PREFIX="<<<.Replace_configPrefix_path>>>"

#get a process command line from /proc
get_command_line_args() {
    PROC="$1"
    len=${#PROC}
    if [ $len -gt 15 ]; then
		ps aux|grep  "$CMD "|grep -v "grep" |sed "s/.*$CMD \(.*\)/\1/g"
    else
        for PID in $(pgrep -n "$PROC")
        do
            tr "\0" " " < /proc/"$PID"/cmdline
        done
    fi
}

#get an argument value from command line
get_argument_value() {
    CMD="$1"
    OPTION="$2"

    get_command_line_args "$CMD" |
    sed \
        -e 's/\-\-/\n--/g' \
        |
    grep "^${OPTION}" |
    sed \
        -E "s/^${OPTION}(=|\s+)//g"
}

#check whether an argument exist in command line
check_argument() {
    CMD="$1"
    OPTION="$2"

    get_command_line_args "$CMD" |
    sed \
        -e 's/\-\-/\n--/g' \
        |
    grep "^${OPTION}" 
}

append_prefix() {
  local prefix="$1"
  local file="$2"

  # Remove any trailing slash from prefix
  prefix="${prefix%/}"

  # Remove a leading slash from file, if it exists
  file="${file#/}"

  # Concatenate and return the result
  echo "$prefix/$file"
}
CIS_KUBELET_CMD="<<<.Replace_kubelet_cmd>>>"

if ps -ef | grep "$CIS_KUBELET_CMD" 2>/dev/null | grep -v "grep" >/dev/null 2>&1; then
	info "Kubernetes Worker Node Security Configuration"
else
	info "This node is not a Kubernetes worker node"
	exit 2
fi

info "2.1 - Kubelet"

check_2_1_1="2.1.1  - Ensure that the --allow-privileged argument is set to false"
if check_argument "$CIS_KUBELET_CMD" '--allow-privileged=false' >/dev/null 2>&1; then
    pass "$check_2_1_1"
else
    warn "$check_2_1_1"
fi

check_2_1_2="2.1.2  - Ensure that the --anonymous-auth argument is set to false"
if check_argument "$CIS_KUBELET_CMD" '--anonymous-auth=false' >/dev/null 2>&1; then
    pass "$check_2_1_2"
else
    warn "$check_2_1_2"
fi

check_2_1_3="2.1.3  - Ensure that the --authorization-mode argument is not set to AlwaysAllow"
if check_argument "$CIS_KUBELET_CMD" '--authorization-mode=AlwaysAllow' >/dev/null 2>&1; then
    warn "$check_2_1_3"
else
    pass "$check_2_1_3"
fi

check_2_1_4="2.1.4  - Ensure that the --client-ca-file argument is set as appropriate"
if check_argument "$CIS_KUBELET_CMD" '--client-ca-file' >/dev/null 2>&1; then
    cafile=$(get_argument_value "$CIS_KUBELET_CMD" '--client-ca-file')
    cafile=$(append_prefix "$CONFIG_PREFIX" "$cafile")
    pass "$check_2_1_4"
    pass "       * client-ca-file: $cafile"
else
    warn "$check_2_1_4"
fi

check_2_1_5="2.1.5  - Ensure that the --read-only-port argument is set to 0"
if check_argument "$CIS_KUBELET_CMD" '--read-only-port' >/dev/null 2>&1; then
    port=$(get_argument_value "$CIS_KUBELET_CMD" '--read-only-port' | cut -d " " -f 1)
    if [ $port = "0" ]; then
        pass "$check_2_1_5"
    else
        warn "$check_2_1_5"
        warn "       * read-only-port: $port"
    fi
else
    warn "$check_2_1_5"
fi

check_2_1_6="2.1.6  - Ensure that the --streaming-connection-idle-timeout argument is not set to 0"
if check_argument "$CIS_KUBELET_CMD" '--streaming-connection-idle-timeout=0' >/dev/null 2>&1; then
    timeout=$(get_argument_value "$CIS_KUBELET_CMD" '--streaming-connection-idle-timeout')
    warn "$check_2_1_6"
    warn "       * streaming-connection-idle-timeout: $timeout"
else
    pass "$check_2_1_6"
fi

check_2_1_7="2.1.7  - Ensure that the --protect-kernel-defaults argument is set to true"
if check_argument "$CIS_KUBELET_CMD" '--protect-kernel-defaults=true' >/dev/null 2>&1; then
    pass "$check_2_1_7"
else
    warn "$check_2_1_7"
fi

check_2_1_8="2.1.8  - Ensure that the --make-iptables-util-chains argument is set to true"
if check_argument "$CIS_KUBELET_CMD" '--make-iptables-util-chains=true' >/dev/null 2>&1; then
    pass "$check_2_1_8"
else
    warn "$check_2_1_8"
fi

check_2_1_9="2.1.9  - Ensure that the --keep-terminated-pod-volumes argument is set to false"
if check_argument "$CIS_KUBELET_CMD" '--keep-terminated-pod-volumes=false' >/dev/null 2>&1; then
    pass "$check_2_1_9"
else
    warn "$check_2_1_9"
fi

check_2_1_10="2.1.10  - Ensure that the --hostname-override argument is not set"
if check_argument "$CIS_KUBELET_CMD" '--hostname-override' >/dev/null 2>&1; then
    warn "$check_2_1_10"
else
    pass "$check_2_1_10"
fi

check_2_1_11="2.1.11  - Ensure that the --event-qps argument is set to 0"
if check_argument "$CIS_KUBELET_CMD" '--event-qps' >/dev/null 2>&1; then
    event=$(get_argument_value "$CIS_KUBELET_CMD" '--event-qps' | cut -d " " -f 1)
    if [ $event = "0" ]; then
        pass "$check_2_1_11"
    else
        warn "$check_2_1_11"
        warn "        * event-qps: $event"
    fi
else
    warn "$check_2_1_11"
fi

check_2_1_12="2.1.12  - Ensure that the --tls-cert-file and --tls-private-key-file arguments are set as appropriate"
if check_argument "$CIS_KUBELET_CMD" '--tls-cert-file' >/dev/null 2>&1; then
    if check_argument "$CIS_KUBELET_CMD" '--tls-private-key-file' >/dev/null 2>&1; then
        cfile=$(get_argument_value "$CIS_KUBELET_CMD" '--tls-cert-file')
        kfile=$(get_argument_value "$CIS_KUBELET_CMD" '--tls-private-key-file')
        cfile=$(append_prefix "$CONFIG_PREFIX" "$cfile")
        kfile=$(append_prefix "$CONFIG_PREFIX" "$kfile")
        pass "$check_2_1_12"
        pass "        * tls-cert-file: $cfile"
        pass "        * tls-private-key-file: $kfile"
    else
      warn "$check_2_1_12"
    fi
else
    warn "$check_2_1_12"
fi

check_2_1_13="2.1.13  - Ensure that the --cadvisor-port argument is set to 0"
if check_argument "$CIS_KUBELET_CMD" '--cadvisor-port' >/dev/null 2>&1; then
    port=$(get_argument_value "$CIS_KUBELET_CMD" '--cadvisor-port' | cut -d " " -f 1)
    if [ $port = "0" ]; then
        pass "$check_2_1_13"
    else
        warn "$check_2_1_13"
        warn "        * cadvisor-port: $port"
    fi
else
    warn "$check_2_1_13"
fi

info "2.2 - Configuration Files"

check_2_2_1="2.2.1  - Ensure that the config file permissions are set to 644 or more restrictive"
config=$(append_prefix "$CONFIG_PREFIX" "/etc/kubernetes/config")
kubeletconfig=$(append_prefix "$CONFIG_PREFIX" "/var/lib/kubelet/kubeconfig")
kubelet_config=$(append_prefix "$CONFIG_PREFIX" "/etc/kubernetes/kubelet.conf")
if [ -f $config ]; then
    file=$config
elif [ -f $kubeletconfig ]; then
    file=$kubeletconfig
else
    file=$kubelet_config
fi

if [ -f "$file" ]; then
  if [ "$(stat -c %a $file)" -eq 644 -o "$(stat -c %a $file)" -eq 600 -o "$(stat -c %a $file)" -eq 400 ]; then
    pass "$check_2_2_1"
  else
    warn "$check_2_2_1"
    warn "     * Wrong permissions for $file"
  fi
else
  info "$check_2_2_1"
  info "     * File not found"
fi

check_2_2_2="2.2.2  - Ensure that the config file ownership is set to root:root"
if [ -f "$file" ]; then
  if [ "$(stat -c %u%g $file)" -eq 00 ]; then
    pass "$check_2_2_2"
  else
    warn "$check_2_2_2"
    warn "     * Wrong ownership for $file"
  fi
else
  info "$check_2_2_2"
fi

check_2_2_3="2.2.3  - Ensure that the kubelet file permissions are set to 644 or more restrictive"
config=$(append_prefix "$CONFIG_PREFIX" "/etc/kubernetes/kubelet")
kubelet_sysconfig=$(append_prefix "$CONFIG_PREFIX" "/etc/sysconfig/kubelet")
kubelet_config=$(append_prefix "$CONFIG_PREFIX" "/etc/kubernetes/kubelet.conf")
if [ -f $config ]; then
    file=$config
elif [ -f $kubelet_sysconfig ]; then
    file=$kubelet_sysconfig
else
    file=$kubelet_config
fi

if [ -f "$file" ]; then
  if [ "$(stat -c %a $file)" -eq 644 -o "$(stat -c %a $file)" -eq 600 -o "$(stat -c %a $file)" -eq 400 ]; then
    pass "$check_2_2_3"
  else
    warn "$check_2_2_3"
    warn "     * Wrong permissions for $file"
  fi
else
  info "$check_2_2_3"
  info "     * File not found"
fi

check_2_2_4="2.2.4  - Ensure that the kubelet file ownership is set to root:root"
if [ -f "$file" ]; then
  if [ "$(stat -c %u%g $file)" -eq 00 ]; then
    pass "$check_2_2_4"
  else
    warn "$check_2_2_4"
    warn "     * Wrong ownership for $file"
  fi
else
  info "$check_2_2_4"
fi

check_2_2_5="2.2.5  - Ensure that the proxy file permissions are set to 644 or more restrictive"
config=$(append_prefix "$CONFIG_PREFIX" "/var/lib/kube-proxy/kubeconfig")
proxy_config=$(append_prefix "$CONFIG_PREFIX" "/etc/kubernetes/proxy")
if [ -f $config ]; then
    file=$config
else
    file=$proxy_config
fi

if [ -f "$file" ]; then
  if [ "$(stat -c %a $file)" -eq 644 -o "$(stat -c %a $file)" -eq 600 -o "$(stat -c %a $file)" -eq 400 ]; then
    pass "$check_2_2_5"
  else
    warn "$check_2_2_5"
    warn "     * Wrong permissions for $file"
  fi
else
  info "$check_2_2_5"
  info "     * File not found"
fi

check_2_2_6="2.2.6  - Ensure that the proxy file ownership is set to root:root"
if [ -f "$file" ]; then
  if [ "$(stat -c %u%g $file)" -eq 00 ]; then
    pass "$check_2_2_6"
  else
    warn "$check_2_2_6"
    warn "     * Wrong ownership for $file"
  fi
else
  info "$check_2_2_6"
fi

check_2_2_7="2.2.7  - Ensure that the certificate authorities file permissions are set to 644 or more restrictive"
if check_argument "$CIS_KUBELET_CMD" '--client-ca-file' >/dev/null 2>&1; then
  file=$(get_argument_value "$CIS_KUBELET_CMD" '--client-ca-file')
  file=$(append_prefix "$CONFIG_PREFIX" "$file")
  if [ "$(stat -c %a $file)" -eq 644 -o "$(stat -c %a $file)" -eq 600 -o "$(stat -c %a $file)" -eq 400 ]; then
    pass "$check_2_2_7"
    pass "       * client-ca-file: $file"
  else
    warn "$check_2_2_7"
    warn "     * Wrong permissions for $file"
  fi
else
  info "$check_2_2_7"
  info "     * --client-ca-file not set"
fi

check_2_2_8="2.2.8  - Ensure that the client certificate authorities file ownership is set to root:root"
if check_argument "$CIS_KUBELET_CMD" '--client-ca-file' >/dev/null 2>&1; then
  file=$(get_argument_value "$CIS_KUBELET_CMD" '--client-ca-file')
  file=$(append_prefix "$CONFIG_PREFIX" "$file")
  if [ "$(stat -c %u%g $file)" -eq 00 ]; then
    pass "$check_2_2_8"
    pass "       * client-ca-file: $file"
  else
    warn "$check_2_2_8"
    warn "     * Wrong ownership for $file"
  fi
else
  info "$check_2_2_8"
  info "     * --client-ca-file not set"
fi
exit 0;
