name: Run unitest on push and pull request

on:
  push:
  pull_request:

permissions: {}

jobs:
  unitest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: stable
    - name: Install dependencies
      run: |
        sudo apt update && sudo apt install -y libpcre3-dev
    - run: |
        ./unitest.sh
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 18
    - name: openapi-lint 
      run: |
        npm i -g @redocly/cli@1.25.11
        redocly lint controller/api/apis.yaml --skip-rule operation-operationId --skip-rule operation-4xx-response --skip-rule no-ambiguous-paths --skip-rule security-defined
        redocly lint controller/api/internal_apis.yaml --skip-rule operation-operationId
